# Ignore everything
*

# Allow folders themselves (needed so Git can descend into them)
!*/

# Keep specific root files
!.gitignore
!README.md

# Un-ignore src and test folders
!src/
!test/

# Un-ignore everything inside them
!src/**
!test/**